<%- include('partials/header') -%>
<h1><%= title %></h1>
<form action="/compose" method="post">
  <label for="title-input">Title</label>
  <input type="text" class="form-control" id="title-input" autofocus autocomplete="off">
  <label for="post-input">Post</label>
  <div class="">
    <textarea name="post" rows="5" cols="160" autocomplete="off"></textarea>
  </div>
  <button type="submit" name="button">Publish</button>
</form>
<%- include('partials/footer') -%>
