<%- include('partials/header') -%>
<h1><%= title %></h1>
<p><%= startingContent %></p>
<% contents.forEach((content, i) => { %>
  <p><% console.log(content.title) %></p>
<% }); %>
<%- include('partials/footer') -%>
